/* Global variables */
:root {
    /* Colors */
    --gray-0: #000000;
    --gray-50: #111111;
    --gray-100: #222222;
    --gray-200: #333333;
    --gray-300: #444444;
    --gray-400: #555555;
    --gray-500: #666666;
    --gray-600: #777777;
    --gray-700: #888888;
    --gray-800: #999999;
    --gray-900: #aaaaaa;
    --gray-999-basis: 0, 0%, 100%;
    --gray-999_40: hsla(var(--gray-999-basis), 0.4);
    --gray-999: #ffffff;

    --accent-light: #c561f6;
    --accent-regular: #7611a6;
    --accent-dark: #1c0056;
    --accent-overlay: hsla(280, 89%, 67%, 0.33);
    --accent-subtle-overlay: var(--accent-overlay);
    --accent-text-over: var(--gray-999);

    --link-color: var(--accent-regular);

    /* Gradients */
    --gradient-stop-1: var(--accent-light);
    --gradient-stop-2: var(--accent-regular);
    --gradient-stop-3: var(--accent-dark);
    --gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
    --gradient-accent: linear-gradient(
            150deg,
            var(--gradient-stop-1),
            var(--gradient-stop-2),
            var(--gradient-stop-3)
    );
    --gradient-accent-orange: linear-gradient(
            150deg,
            #ca7879,
            var(--accent-regular),
            var(--accent-dark)
    );
    --gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

    /* Shadows */
    --shadow-sm:
            0px 6px 3px rgba(0, 0, 0, 0.01), 0px 4px 2px rgba(0, 0, 0, 0.01),
            0px 2px 2px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(0, 0, 0, 0.03);
    --shadow-md:
            0px 28px 11px rgba(0, 0, 0, 0.01), 0px 16px 10px rgba(0, 0, 0, 0.03),
            0px 7px 7px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.06);
    --shadow-lg:
            0px 62px 25px rgba(0, 0, 0, 0.01), 0px 35px 21px rgba(0, 0, 0, 0.05),
            0px 16px 16px rgba(0, 0, 0, 0.3), 0px 4px 9px rgba(0, 0, 0, 0.2);

    /* Text Sizes */
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.625rem;
    --text-2xl: 2.125rem;
    --text-3xl: 2.625rem;
    --text-4xl: 3rem;
    --text-5xl: 4rem;

    /* Fonts */
    --font-system:
            'Avio Sans', system-ui, sans-serif;
    --font-body: "Avio Sans", var(--font-system);
    --font-brand: Avio Sans, var(--font-system);

    /* Transitions */
    --theme-transition: 0.2s ease-in-out;

    /* Navigation - To calculate site heights minus nav */
    --nav-height: 60px;
    --gap-quarter: 15px;
    --gap-half: 30px;
    --gap-full: 60px;
}

/* Light surface */
[data-surface="light"] {
    background-color: var(--gray-999);
}

[data-surface="light"] h1,
[data-surface="light"] h2,
[data-surface="light"] h3,
[data-surface="light"] h4,
[data-surface="light"] h5,
[data-surface="light"] h6,
[data-surface="light"] p {
    color: var(-gray-0);
}

[data-surface="dark"] {
    background-color: var(--gray-100);
}

[data-surface="dark"] h1,
[data-surface="dark"] h2,
[data-surface="dark"] h3,
[data-surface="dark"] h4,
[data-surface="dark"] h5,
[data-surface="dark"] h6,
[data-surface="dark"] p {
    color: var(--gray-999);
}

@keyframes fadeIn {
    from { opacity: 0; translate: 0 8px; }
    to   { opacity: 1; translate: 0 0; }
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--gray-999);
    color: var(--gray-0);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

body > * {
    animation: fadeIn 0.5s ease-out both;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

a {
    color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
    font-family: var(--font-brand);
    font-weight: 400;
}

h1 {
    font-size: var(--text-5xl);
}

h2 {
    font-size: var(--text-4xl);
}

h3 {
    font-size: var(--text-3xl);
}

h4 {
    font-size: var(--text-2xl);
}

h5 {
    font-size: var(--text-xl);
}

h5 {
    font-size: var(--text-lg);
}

.gap-2 {
    gap: 0.5rem;
}
.gap-4 {
    gap: 1rem;
}
.gap-8 {
    gap: 2rem;
}
.gap-10 {
    gap: 2.5rem;
}
.gap-15 {
    gap: 3.75rem;
}
.gap-20 {
    gap: 5rem;
}
.gap-30 {
    gap: 7.5rem;
}
.gap-48 {
    gap: 12rem;
}

@media (min-width: 50em) {
    .lg\:gap-2 {
        gap: 0.5rem;
    }
    .lg\:gap-4 {
        gap: 1rem;
    }
    .lg\:gap-8 {
        gap: 2rem;
    }
    .lg\:gap-10 {
        gap: 2.5rem;
    }
    .lg\:gap-15 {
        gap: 3.75rem;
    }
    .lg\:gap-20 {
        gap: 5rem;
    }
    .lg\:gap-30 {
        gap: 7.5rem;
    }
    .lg\:gap-48 {
        gap: 12rem;
    }
}


@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-Thin.woff2') format('woff2'),
    url('/fonts/AvioSans-Thin.woff') format('woff'),
    url('/fonts/AvioSans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-ExtraLight.woff2') format('woff2'),
    url('/fonts/AvioSans-ExtraLight.woff') format('woff'),
    url('/fonts/AvioSans-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-Light.woff2') format('woff2'),
    url('/fonts/AvioSans-Light.woff') format('woff'),
    url('/fonts/AvioSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-Regular.woff2') format('woff2'),
    url('/fonts/AvioSans-Regular.woff') format('woff'),
    url('/fonts/AvioSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-Medium.woff2') format('woff2'),
    url('/fonts/AvioSans-Medium.woff') format('woff'),
    url('/fonts/AvioSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-SemiBold.woff2') format('woff2'),
    url('/fonts/AvioSans-SemiBold.woff') format('woff'),
    url('/fonts/AvioSans-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-Bold.woff2') format('woff2'),
    url('/fonts/AvioSans-Bold.woff') format('woff'),
    url('/fonts/AvioSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-ExtraBold.woff2') format('woff2'),
    url('/fonts/AvioSans-ExtraBold.woff') format('woff'),
    url('/fonts/AvioSans-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-Black.woff2') format('woff2'),
    url('/fonts/AvioSans-Black.woff') format('woff'),
    url('/fonts/AvioSans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-ThinItalic.woff2') format('woff2'),
    url('/fonts/AvioSans-ThinItalic.woff') format('woff'),
    url('/fonts/AvioSans-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/AvioSans-ExtraLightItalic.woff') format('woff'),
    url('/fonts/AvioSans-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-LightItalic.woff2') format('woff2'),
    url('/fonts/AvioSans-LightItalic.woff') format('woff'),
    url('/fonts/AvioSans-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-RegularItalic.woff2') format('woff2'),
    url('/fonts/AvioSans-RegularItalic.woff') format('woff'),
    url('/fonts/AvioSans-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-MediumItalic.woff2') format('woff2'),
    url('/fonts/AvioSans-MediumItalic.woff') format('woff'),
    url('/fonts/AvioSans-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/AvioSans-SemiBoldItalic.woff') format('woff'),
    url('/fonts/AvioSans-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-BoldItalic.woff2') format('woff2'),
    url('/fonts/AvioSans-BoldItalic.woff') format('woff'),
    url('/fonts/AvioSans-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/AvioSans-ExtraBoldItalic.woff') format('woff'),
    url('/fonts/AvioSans-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avio Sans';
    src: url('/fonts/AvioSans-BlackItalic.woff2') format('woff2'),
    url('/fonts/AvioSans-BlackItalic.woff') format('woff'),
    url('/fonts/AvioSans-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}